@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@700&display=swap');
*{
	margin: 0px;
	padding: 0px;
}
.header{
	display: flex;
	align-items: center;
	flex-direction: row;
	align-content: center;
	padding: 10px;
	justify-content: space-evenly;
    transition: all 1s;
}
.header:hover{
 	display: flex;
	align-items: center;
	flex-direction: row;
	align-content: center;
	padding: 30px;
	justify-content: space-evenly;
}
.body{
	background-image: linear-gradient(to left, #4314A9, black);
	height: 100vh;
	display: flex;
    align-items: center;
    justify-content: center;
}
.content{
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-evenly;
	height: 20vh;
	width: 80vh;
}
.itemUp{
	align-self: flex-start;
}
.itemDown{
	align-self: flex-end;
}
#productos{
	max-width: 30vh;
	max-height: 30vh;
	transition: all 0.5s;
}
#productos:hover{
	max-width: 35vh;
	max-height: 35vh;
}
#logo{
	justify-self: flex-start;
	max-height: 10vh;
}
.menu{
	justify-self: space-evenly;
}